a.out
*.exe
autom4te.cache
config.h
config.log
config.status
Makefile
stamp-*

TODO*

imyplay
.deps
*.o
*.gcov
*.gcda
*.gcno

*.info
*.html
*~
imyplay.spc
imyp_cfg.h
imyparsf.c

po/POTFILES
po/Makefile.in
po/*.gmo

*.dll
README-SDL.txt

utiltest
testalle
testalsa
testao
testexec
testfile
testgst
testjack
testmidi
testoss
testport
testpuls
testsdl
testspk
testwav

*.log
*.trs
